<div class="mt-5">

    <!-- Adding new navigation for login-register -->
    <div class="d-inline-block">
        <a class="p-3 mx-1" routerLink="/login-register/login" routerLinkActive="active" style="background-color:#dddddd;">Login</a>
        <a class="p-3 mx-1" routerLink="/login-register/register" routerLinkActive="active" style="background-color:#dddddd;">Sign up</a>
    </div>
    <hr>

    <!-- Displaying the child routes of login-register here -->
    <router-outlet></router-outlet>
</div>
